doctype html
html(lang="en")
  head
    title='LED Strip Controller'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/logic.js')
  body
    #container
  script(type='text/javascript').
    $(function() {
      makeTiles();
    });
