body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
   overflow: hidden;
}

#diagnostics {
  border: 0 solid black;
  border-top-width: 1px;
  margin-top: 2em;
  margin-left: 1em;
  padding: 0.5em;
}

.tile {
  width: 16em;
  height: 16em;
  margin: 0.5em;
  float: left;
  border-color: rgb(10,10,10);
  border-style: solid;
  border-width: 1px; 
  border-radius: 4px;
}
